/*  your css code here. If applicable */
.container{
	display: grid;
	grid-template-columns:repeat(40,20px);
}
.square{
	width: 20px;
	height:20px;
	background-color: #000;
	transition: background-color 1s;
}